    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        overflow-y: hidden;
        transition: all 1s;
        background-color: azure;
    }

    span {
        transition: color 0.8s;
        transition: font 0.8s;
    }

    #textInput {
        text-align: center;
        font-weight: 900;
        font-size: large;
        border: solid 3px rgb(255, 255, 255);
        border-radius: 10px;
        height: 50px;
        margin-bottom: 50px;
        box-shadow: rgb(240, 195, 136) 0px 0px 30px;
        background-color: antiquewhite;
    }

    #textInput:hover {
        background-color: rgb(89, 251, 162);
        cursor: crosshair;
        transition: all 0.8s;
        box-shadow: rgb(89, 251, 162) 0px 0px 30px;
    }

    #cancel-button {
        background-color: antiquewhite;
        text-align: center;
        font-weight: 800;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        border: solid 3px rgb(255, 255, 255);
        box-shadow: rgb(240, 195, 136) 0px 0px 30px;
    }

    #cancel-button:hover {
        background-color: rgb(192, 0, 0);
        box-shadow: rgb(192, 0, 0) 0px 0px 30px;
        cursor: pointer;
        color: azure;
        transition: all 0.8s;
    }